<h3>List Component</h3>
<div class="alert alert-success" *ngIf="messages.length">
    <ul>
        <li *ngFor="let message of messages">{{ message }}</li>
    </ul>
</div>
<div class="alert alert-danger" *ngIf="errors.length">
    <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default" *ngFor="let post of posts">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1"><i class="glyphicon glyphicon-signal"></i> {{ post.votes }}</div>
                    <div class="col-md-9">
                        <a routerLink="/detail/{{ post.id }}">{{ post.title }}</a>
                    </div>
                    <div class="col-md-2">
                        {{ post.date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item" *ngFor="let category of categories" (click)="getPostsByCategory(category.id)">{{ category.name }}</a>
        </div>
    </div>
</div>
<div *ngIf="pagination" [pagination]="pagination.routerLinks"></div>