<form class="form-signin" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="alert alert-danger" *ngIf="errors.length">
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus="" [(ngModel)]="model.email"
        name="email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="model.password" name="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>