<form class="form-signin" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="alert alert-danger" *ngIf="errors.length">
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>
    <h2 class="form-signin-heading">Register</h2>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="Email" [(ngModel)]="model.email" name="email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="model.password" name="password">
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="model.confirm_password" name="confirm_password">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>