<h3>Show Component</h3>
<div class="alert alert-danger" *ngIf="errors.length">
  <ul>
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>
</div>
<div class="row">
	<div class="col-md-12">
		<form (ngSubmit)="onSubmit()" #form="ngForm">
			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control" placeholder="Name" [(ngModel)]="model.title" name="title">
			</div>
			<div class="form-group">
				<label>Content</label>
				<textarea rows="5" class="form-control" name="content" tinymce [callback]="callback" id="content"></textarea>
			</div>
			<div class="form-group">
				<label>Category</label>
				<!--Phải có thuộc tính name trong element nếu không sẽ báo lỗi khi dùng ngModel-->
				<select class="form-control" [(ngModel)]="model.category_id" name="category_id"> 
						<option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
				</select>				
			</div>
			<div class="form-group">
				<label>Tags</label>
				<input type="text" class="form-control" placeholder="Ex: Laravel Framework, CodeIgniter Framework..." [(ngModel)]="model.tags" name="tags">
			</div>
			<div class="form-group">
				<label>Votes</label>
				<input type="number" min="0" class="form-control" placeholder="Votes" value="0" [(ngModel)]="model.votes" name="votes">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>