<h3>Show Component</h3>
<div class="alert alert-danger">
  <ul>
		<li>Error - 1</li>
		<li>Error - 2</li>
		<li>Error - 3</li>
		<li>Error - 4</li>
	</ul>
</div>
<div class="row">
	<div class="col-md-12">
		<form>
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" placeholder="Name" name="name">
			</div>
			<div class="form-group">
				<label>Order</label>
				<input type="number" min="0" class="form-control" placeholder="Order" value="0" name="order">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>