<h3>List Component</h3>
<div class="alert alert-success">
	<ul>
		<li>Message - 1</li>
		<li>Message - 2</li>
		<li>Message - 3</li>
		<li>Message - 4</li>
	</ul>
</div>
<div class="alert alert-danger">
	<ul>
		<li>Error - 1</li>
		<li>Error - 2</li>
		<li>Error - 3</li>
		<li>Error - 4</li>
	</ul>
</div>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Order</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Lập trình</td>
			<td>0</td>
			<td>
				<a class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
				<button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Delete</button>
			</td>
		</tr>
	</tbody>
</table>
<div>Pagination Links</div>